<table class="table table-striped">
    <thead>
    <tr>
        @foreach (var playerMoney in Game.Players)
        {
            <th>@playerMoney.Name</th>
        }
        <th>
            <b>Pot</b>
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var round in Game.Rounds)
    {
        <tr>
            <ResultRow PlayerResults="@round.Results"></ResultRow>
        </tr>
    }

    </tbody>
</table>