@using HackerApp.Client.Areas.Shared.Models
<PlayerPenaltyEdit
    @ref="PlayerPenaltyEditRef"
    OnNewPenalty="OnPenaltyAdded">
</PlayerPenaltyEdit>

<div class="d-flex flex-column">
    <div class="mt-2">
        <select @bind="@ItemsPerPage">
            <option>5</option>
            <option>20</option>
            <option>-1</option>
        </select>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                @foreach (var player in Game.Players)
                {
                    <th>
                        @player.Name (@player.CalculateLossProfit(Game.GameRounds, LossProfitType.All).ToString("N2"))
                        <BlazorBootstrap.Button Color="ButtonColor.Primary" @onclick="() => ShowPlayerPenalty(player.Name)">
                            +
                        </BlazorBootstrap.Button>
                    </th>
                }
                <th>
                    <b>Pot</b>
                </th>
                <th>
                    <b>Einsatz</b>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var round in GameRounds)
            {
                <tr>
                    <GameRoundRow GameRound="@round"></GameRoundRow>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>