@foreach (var res in GameRound.PlayerGameRounds)
{
    <td>
        @GameRound.CalculcateEarnings(res.Player).ToString("N2")

        <ResultTypeInput @bind-ResultType="@res.Result.ResultType"></ResultTypeInput>
    </td>
}

<td>
    @GameRound.RoundPot.Value.ToString("N2")
</td>

<td>
    @GameRound.RoundEinsatzDescription
</td>