<Modal @ref="modal" />

<table class="table table-striped">
    <thead>
    <tr>
        @foreach (var player in Game.Players)
        {
            <th>@player.Name (@player.CalculateOverallLossProfit(Game.GameRounds).ToString("N2"))
                    <BlazorBootstrap.Button @onclick="() => ShowPlayerPenalty(player.Name)">
                    +
                    </BlazorBootstrap.Button>
            </th>
        }
        <th>
            <b>Pot</b>
        </th>
        <th>
            <b>Einsatz</b>
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var round in Game.GameRounds)
    {
        <tr>
            <GameRoundRow GameRound="@round"></GameRoundRow>
        </tr>
    }

    </tbody>
</table>