<table class="table table-striped">
    <thead>
    <tr>
        @foreach (var player in Game.Players)
        {
            <th>@player.Name (@player.CalculateOverallLossProfit(Game.Rounds))</th>
        }
        <th>
            <b>Pot</b>
        </th>
        <th>
            <b>Einsatz</b>
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var round in Game.Rounds)
    {
        <tr>
            <GameRoundRow GameRound="@round"></GameRoundRow>
        </tr>
    }

    </tbody>
</table>