@foreach (var res in GameRound.PlayerGameRounds)
{
    <td>
        @GameRound.CalculcateEarnings(res.Player)

        <ResultTypeInput @bind-ResultType="@res.Result.ResultType"></ResultTypeInput>
    </td>
}

<td>
    @GameRound.RoundPot.Value
</td>

<td>
    @GameRound.RoundEinsatzDescription
</td>