<Modal @ref="ModalRef" Title="Busse">
    <BodyTemplate>
        <div class="row">
            <NumberInput @bind-Value="PenaltyValue">
            </NumberInput>
        </div>

        <div class="row">
            <CheckboxInput Label="Busse nächste Runde anrechnen" @bind-value="ApplyPenaltyNextRound" />

        </div>
    </BodyTemplate>
    <FooterTemplate>
        <BlazorBootstrap.Button @onclick="SavePenaltyAsync">OK</BlazorBootstrap.Button>

        <BlazorBootstrap.Button @onclick="CancelAsync">Abbrechen</BlazorBootstrap.Button>
    </FooterTemplate>
</Modal>