@using BlazorBootstrap
@attribute [Route(Path)]
<div>
    @if (Game != null)
    {
        <div class="container">
            <Button Color="@ButtonColor.Primary" @onclick="HandleNewRoundClicked">Neue Runde</Button>
            <input type="number" @bind-value="@Einsatz"/>
        </div>

        <div class="row">
            <div class="col">
                <GameTable Game="@Game">
                </GameTable>
            </div>
        </div>
    }
    else
    {
        <p>loading..</p>
    }
</div>