@using BlazorBootstrap
@attribute [Route(Path)]
@if (Game != null)
{
    <div class="container">
        <div class="d-flex flex-row">
            <div>
                <Button Color="@ButtonColor.Primary" @onclick="AddNewRoundAsync">Neue Runde</Button>
                <input type="number" @bind-value="@Einsatz"/>
            </div>
            <div class="ms-auto">
                <Button Color="@ButtonColor.Primary" @onclick="CreateNewGame">Neues Spiel</Button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <GameTable 
                    OnPenaltyAdded="AddPlayerPenalty"
                    Game="@Game">
                </GameTable>
            </div>
        </div>
    </div>
}
else
{
    <p>loading..</p>
}