<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="app.css"/>
    @* ReSharper disable start Html.PathError *@
    <link rel="stylesheet" href="HackerApp.styles.css"/>
    @* ReSharper disable end Html.PathError *@
    <link href="manifest.webmanifest" rel="manifest"/>
    <link rel="icon" type="image/png" href="M.png"/>
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png"/>
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>
</head>

<body>
<Routes @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>
@* ReSharper disable start Html.PathError *@
<script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Add chart.js reference if chart components are used in your application. -->


    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>

@* ReSharper disable end Html.PathError *@
@* <script src="pwa.js"></script> *@
<script>navigator.serviceWorker.register('service-worker.js');</script>

</body>

</html>