<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    @* ReSharper disable start Html.PathError *@
    <link rel="stylesheet" href="HackerApp.styles.css"/>
    @* ReSharper disable end Html.PathError *@
    <link href="manifest.webmanifest" rel="manifest"/>
    <link rel="icon" type="image/png" href="M.png"/>
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png"/>
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>
</head>

<body>
<Routes @rendermode="new InteractiveWebAssemblyRenderMode(false)"/>
@* ReSharper disable start Html.PathError *@
<script src="_framework/blazor.web.js"></script>
@* ReSharper disable end Html.PathError *@
@* <script src="pwa.js"></script> *@
<script>navigator.serviceWorker.register('service-worker.js');</script>

</body>

</html>