<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label class="col-form-label">Name</label>
    </div>
    <div class="col-auto">
        <input type="text"
               class="form-control"
               @bind:event="oninput"
               @bind:get="Player.Name"
               @bind:set="SetPlayerNameAsync" />
    </div>
    <div class="col-auto">
        <Button Size="@ButtonSize.Small" Color="@ButtonColor.Secondary" @onclick="() => RemovePlayerRequired.InvokeAsync(Player)">
            -
        </Button>
    </div>
</div>