@using BlazorBootstrap
<div class="row">
    <div class="col">
        <Card>
            <CardHeader>
                <h3>Spieler konfigurieren</h3>
            </CardHeader>
            <CardBody>
                <Button
                    Color="@ButtonColor.Primary" @onclick="HandleAddPlayerClicked">
                    + Spieler
                </Button>

                <EditPlayerRows Players="@Players"
                                RemovePlayerRequired="RemovePlayer">
                </EditPlayerRows>
            </CardBody>
        </Card>
    </div>
</div>