<div class="container">
    <div class="row">
        @if (Players != null)
        {
            @foreach (var player in Players)
            {
                <EditPlayerRow
                    PlayerNameChanged="@PlayerNameChanged"
                    RemovePlayerRequired="@RemovePlayerRequired"
                    Player="@player">
                </EditPlayerRow>
            }
        }
    </div>
</div>