@using BlazorBootstrap
<div class="row">
    <div class="col">
        <Card>
            <CardHeader>
                <h3>Spieler konfigurieren</h3>
            </CardHeader>
            <CardBody>
                <Button
                    Color="@ButtonColor.Primary" @onclick="AddPlayerAsync">
                    + Spieler
                </Button>

                <EditPlayerRows PlayerNameChanged="ValidateAsync"
                                Players="@Players"
                                RemovePlayerRequired="RemovePlayerAsync">
                </EditPlayerRows>
            </CardBody>
        </Card>
    </div>
</div>