<div class="mb-5">
    <div class="d-flex flex-row">
        <div class="me-2">
            <Button Color="@ButtonColor.Primary" @onclick="ZoomInAsync">+</Button>
        </div>

        <div>
            <Button Color="@ButtonColor.Primary" @onclick="ZoomOutAsync">-</Button>
        </div>
    </div>
</div>